<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" alt="norte-inti" width="300" height="90">
    </a>
    <div class="d-flex" >
      <button class="me-2" type="button" id="btnHome">Inicio</button>
      <button class="me-4" type="button" id="btnSettings">Quiénes Somos</button>
      <button class="me-4" type="button" id="btnSettings">Productos</button>
      <button class="me-4" type="button" id="btnSettings">Contacto</button>
      
      <div class="lang-spanish">
        <a lang="en-ES" hreflang="en-ES" href="http://localhost:4200/">
          <img src="assets/espanol.png" alt="norte-inti" width="16" height="11">
        </a>
      </div>
      <div class="lang-english">
        <a lang="en-US" hreflang="en-US" href="http://localhost:4200/">
          <img src="assets/ingles.png" alt="norte-inti" width="16" height="11">
        </a>
    
      </div>
       
      <button class="me-2" type="button" id="btnShopping">S/ {{ totalSales }} <i class="fa fa-cart-shopping"></i></button>
    </div>
  </div>
</nav>
