#btnHome {
  background-color: #00A057 !important;
  border-color: #00A057;
  border-radius: 20px;
  padding: 10px;
  width: 100px !important;
  color: #FFFFFF;
}


#btnSettings {
  background-color: #FFFFFF !important;
  border-color: #FFFFFF !important;
  color: #707070 !important;
}
